.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* background: #f58052; */
/* background: #f57542; */

.contentWrapper {
  padding: 24px;
  background: #f6b69d;
  flex-direction: column;
  margin: 1rem 0;
  min-height: 70vmin;
}

.headerBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.iconButton {
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}

.iconButton:hover {
  opacity: 1;
}

.contactsList {
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.contactsList > li {
  text-align: center;
}

.socials {
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.socialIcon {
  max-height: 1.5rem;
}

.form label {
  align-items: normal !important;
}

@media (max-width: 768px) {
  .mobileAdaptive {
    flex-direction: column;
    gap: 0.5rem;
  }
}
